@model CreateReservationDto
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_HeadDefaultComponentPartial")

<body class="index-page">

    @await Component.InvokeAsync("_NavbarDefaultComponentPartial")

    <main class="main">
        <!-- Hero Section -->
        @await Component.InvokeAsync("_FeatureDefaultComponentPartial")
        <!-- /Hero Section -->
        <!-- About Section -->
        @await Component.InvokeAsync("_AboutDefaultComponentPartial")
        <!-- /About Section -->
        <!-- Why Us Section -->
        @await Component.InvokeAsync("_ServiceDefaultComponentPartial")
        <!-- /Why Us Section -->
        @await Component.InvokeAsync("_HomePageStatisticsComponentPartial")

        <!-- Menu Section -->
        @await Component.InvokeAsync("_DefaultMenuViewComponentPartial")
        <!-- /Menu Section -->
        <!-- Testimonials Section -->
        @await Component.InvokeAsync("_TestimonialDefaultComponentPartial")
        <!-- /Testimonials Section -->
        <!-- Events Section -->
        @await Component.InvokeAsync("_ActivityDefaultComponentPartial")
        <!-- /Events Section -->
        <!-- Chefs Section -->
        @await Component.InvokeAsync("_ChefDefaultComponentPartial")
        <!-- /Chefs Section -->
        <!-- Book A Table Section -->
        <section id="book-a-table" class="book-a-table section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Rezervasyon Paneli</h2>
                <p><span>Sizleri Ağırlamak İçin</span> <span class="description-title">Sabırsızlanıyoruz<br></span></p>
            </div><!-- End Section Title -->

            <div class="container">

                <div class="row g-0" data-aos="fade-up" data-aos-delay="100">

                    <div class="col-lg-4 reservation-img" style="background-image: url(/yummy-red-1.0.0/assets/img/reservation.jpg);"></div>

                    <div class="col-lg-8 d-flex align-items-center reservation-form-bg" data-aos="fade-up" data-aos-delay="200">
                        <form method="post" asp-action="Index" asp-controller="Default" class="php-email-form">
                            <div class="row gy-4">
                                <div class="col-lg-4 col-md-6">
                                    <input type="text" asp-for="ReservationNameSurname" class="form-control" placeholder="Adınız Soyadınız" required>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <input type="email" asp-for="ReservationEmail" class="form-control" placeholder="Email Adresiniz" required>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <input type="text" asp-for="ReservationPhoneNumber" class="form-control" placeholder="Telefon Numaranız" required>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <input type="date" asp-for="ReservationDate" class="form-control" required>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <input type="time" asp-for="ReservationTime" class="form-control" required>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <input type="number" asp-for="ReservationCountOfPeople" class="form-control" placeholder="Kişi Sayısı" required>
                                </div>
                            </div>

                            <div class="form-group mt-3">
                                <textarea asp-for="ReservationMessage" class="form-control" rows="5" placeholder="Eklemek istediklerinizi yazabilirsiniz.."></textarea>
                            </div>

                            <div class="text-center mt-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">
                                    Rezervasyon talebiniz alınmıştır. Sizinle en kısa sürede iletişime geçeceğiz.
                                </div>
                                <button type="submit">Rezervasyon Yapın</button>
                            </div>
                        </form>

                    </div><!-- End Reservation Form -->

                </div>

            </div>

        </section><!-- /Book A Table Section -->

        <!-- Gallery Section -->
        @await Component.InvokeAsync("_DefaultGalleryComponentPartial")
        

        <!-- Contact Section -->
        @await Component.InvokeAsync("_DefaultContactComponentPartial")
        <!-- /Contact Section -->

    </main>

    @await Component.InvokeAsync("_FooterDefaultComponentPartial")



</body>

</html>