@model CreateChefDto
@{
    ViewData["Title"] = "CreateChef";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Yeni Şef Ekleme Sayfası</h4>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <label>Şef Adı</label>
                            <input type="text" asp-for="ChefNameSurname" class="form-control" />
                            <br />
                            <label>Şeft Unvan/Başlık</label>
                            <input type="text" asp-for="ChefTitle" class="form-control" />
                            <br />
                            <label>Açıklama</label>
                            <input type="text" asp-for="ChefDescription" class="form-control" />
                            <br />
                            <label>Şef Görsel URL</label>
                            <input type="text" asp-for="ChefImageUrl" class="form-control" />
                            <br />
                            <button class="btn btn-primary btn-sm">Şefi Ekle</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

